In [1]:
import pandas as pd
import numpy as np
from dataclasses import dataclass
import math

In [2]:
restaurants = [
    {"name": "MyLahore Manchester", "cuisine": "British Asian"},
    {"name": "Ziya Asian Grill", "cuisine": "Modern Indian"},
    {"name": "Mughli Charcoal Pit", "cuisine": "Indian/Asian"},
    {"name": "Beirut Lebanese Restaurant", "cuisine": "Lebanese"},
    {"name": "Walnut Persian Restaurant", "cuisine": "Persian"},
    {"name": "Sanam Sweet House & Restaurant", "cuisine": "Indian/Pakistani"},
    {"name": "Chit 'n' Chaat", "cuisine": "Indian Streetfood"}
]

df = pd.DataFrame(restaurants)
df

                             name            cuisine
0             MyLahore Manchester      British Asian
1                Ziya Asian Grill      Modern Indian
2             Mughli Charcoal Pit       Indian/Asian
3      Beirut Lebanese Restaurant           Lebanese
4       Walnut Persian Restaurant            Persian
5  Sanam Sweet House & Restaurant   Indian/Pakistani
6                  Chit 'n' Chaat  Indian Streetfood

In [3]:
mock_menus = {
    "MyLahore Manchester": "Curries, kebabs, wraps, desserts, vegetarian options",
    "Ziya Asian Grill": "Indian starters, biryanis, grills, vegetarian and vegan options",
    "Mughli Charcoal Pit": "Charcoal grilled meats, curries, naan breads",
    "Beirut Lebanese Restaurant": "Mezze, hummus, grilled lamb, vegetarian",
    "Walnut Persian Restaurant": "Persian rice, kebabs, stews, desserts",
    "Sanam Sweet House & Restaurant": "Indian sweets, savoury snacks, biryani, family dining",
    "Chit 'n' Chaat": "Indian street food, dosas, chaat, vegan options"
}

df['menu_text'] = df['name'].map(mock_menus)
df

,name,cuisine,menu_text
0,MyLahore Manchester,British Asian,"Curries, kebabs, wraps, desserts, vegetarian o..."
1,Ziya Asian Grill,Modern Indian,"Indian starters, biryanis, grills, vegetarian ..."
2,Mughli Charcoal Pit,Indian/Asian,"Charcoal grilled meats, curries, naan breads"
3,Beirut Lebanese Restaurant,Lebanese,"Mezze, hummus, grilled lamb, vegetarian"
4,Walnut Persian Restaurant,Persian,"Persian rice, kebabs, stews, desserts"
5,Sanam Sweet House & Restaurant,Indian/Pakistani,"Indian sweets, savoury snacks, biryani, family..."
6,Chit 'n' Chaat,Indian Streetfood,"Indian street food, dosas, chaat, vegan options"

In [4]:
def menu_features(text):
    t = text.lower()
    return {
        "veg_options": "vegetarian" in t or "vegan" in t,
        "halal_options": True,   # Most Curry Mile places are halal by local custom
        "street_food_style": "street" in t,
        "dessert_focus": "dessert" in t
    }

menu_tags = df['menu_text'].apply(menu_features).apply(pd.Series)
df = pd.concat([df, menu_tags], axis=1)

df

,name,cuisine,menu_text,veg_options,halal_options,street_food_style,dessert_focus
0,MyLahore Manchester,British Asian,"Curries, kebabs, wraps, desserts, vegetarian o...",True,True,False,True
1,Ziya Asian Grill,Modern Indian,"Indian starters, biryanis, grills, vegetarian ...",True,True,False,False
2,Mughli Charcoal Pit,Indian/Asian,"Charcoal grilled meats, curries, naan breads",False,True,False,False
3,Beirut Lebanese Restaurant,Lebanese,"Mezze, hummus, grilled lamb, vegetarian",True,True,False,False
4,Walnut Persian Restaurant,Persian,"Persian rice, kebabs, stews, desserts",False,True,False,True
5,Sanam Sweet House & Restaurant,Indian/Pakistani,"Indian sweets, savoury snacks, biryani, family...",False,True,False,False
6,Chit 'n' Chaat,Indian Streetfood,"Indian street food, dosas, chaat, vegan options",True,True,True,False

In [5]:
def business_model(name):
    if "Sweet" in name or "Dessert" in name:
        return "dessert_cafe"
    if "Grill" in name or "Restaurant" in name:
        return "full_service"
    return "casual_takeaway"

df['business_model'] = df['name'].apply(business_model)

df

,name,cuisine,menu_text,veg_options,halal_options,street_food_style,dessert_focus,business_model
0,MyLahore Manchester,British Asian,"Curries, kebabs, wraps, desserts, vegetarian o...",True,True,False,True,casual_takeaway
1,Ziya Asian Grill,Modern Indian,"Indian starters, biryanis, grills, vegetarian ...",True,True,False,False,full_service
2,Mughli Charcoal Pit,Indian/Asian,"Charcoal grilled meats, curries, naan breads",False,True,False,False,casual_takeaway
3,Beirut Lebanese Restaurant,Lebanese,"Mezze, hummus, grilled lamb, vegetarian",True,True,False,False,full_service
4,Walnut Persian Restaurant,Persian,"Persian rice, kebabs, stews, desserts",False,True,False,True,full_service
5,Sanam Sweet House & Restaurant,Indian/Pakistani,"Indian sweets, savoury snacks, biryani, family...",False,True,False,False,dessert_cafe
6,Chit 'n' Chaat,Indian Streetfood,"Indian street food, dosas, chaat, vegan options",True,True,True,False,casual_takeaway

In [6]:
segments = ["students", "families", "nightlife", "tourists", "locals"]

def demographics(model):
    if model == "full_service":
        return [0.15, 0.25, 0.15, 0.20, 0.25]
    if model == "casual_takeaway":
        return [0.40, 0.10, 0.30, 0.05, 0.15]
    if model == "dessert_cafe":
        return [0.30, 0.30, 0.10, 0.15, 0.15]

df[segments] = df['business_model'].apply(lambda m: pd.Series(demographics(m)))

df

,name,cuisine,menu_text,veg_options,halal_options,street_food_style,dessert_focus,business_model,students,families,nightlife,tourists,locals
0,MyLahore Manchester,British Asian,"Curries, kebabs, wraps, desserts, vegetarian o...",True,True,False,True,casual_takeaway,0.40,0.10,0.30,0.05,0.15
1,Ziya Asian Grill,Modern Indian,"Indian starters, biryanis, grills, vegetarian ...",True,True,False,False,full_service,0.15,0.25,0.15,0.20,0.25
2,Mughli Charcoal Pit,Indian/Asian,"Charcoal grilled meats, curries, naan breads",False,True,False,False,casual_takeaway,0.40,0.10,0.30,0.05,0.15
3,Beirut Lebanese Restaurant,Lebanese,"Mezze, hummus, grilled lamb, vegetarian",True,True,False,False,full_service,0.15,0.25,0.15,0.20,0.25
4,Walnut Persian Restaurant,Persian,"Persian rice, kebabs, stews, desserts",False,True,False,True,full_service,0.15,0.25,0.15,0.20,0.25
5,Sanam Sweet House & Restaurant,Indian/Pakistani,"Indian sweets, savoury snacks, biryani, family...",False,True,False,False,dessert_cafe,0.30,0.30,0.10,0.15,0.15
6,Chit 'n' Chaat,Indian Streetfood,"Indian street food, dosas, chaat, vegan options",True,True,True,False,casual_takeaway,0.40,0.10,0.30,0.05,0.15

In [7]:
@dataclass
class RevenueParams:
    weekly_customers: int
    avg_spend: float
    cost_pct: float
    labor_pct: float
    overhead_pct: float

def assumptions(model):
    if model == "full_service":
        return RevenueParams(weekly_customers=700, avg_spend=25, cost_pct=0.30, labor_pct=0.32, overhead_pct=0.28)
    if model == "casual_takeaway":
        return RevenueParams(weekly_customers=1200, avg_spend=12, cost_pct=0.33, labor_pct=0.25, overhead_pct=0.25)
    if model == "dessert_cafe":
        return RevenueParams(weekly_customers=900, avg_spend=9, cost_pct=0.28, labor_pct=0.30, overhead_pct=0.25)

df['params'] = df['business_model'].apply(assumptions)

In [8]:
df['weekly_revenue'] = df['params'].apply(lambda p: p.weekly_customers * p.avg_spend)
df['net_margin'] = df['params'].apply(lambda p: max(0, 1 - (p.cost_pct + p.labor_pct + p.overhead_pct)))
df['weekly_profit'] = df['weekly_revenue'] * df['net_margin']

df['yearly_revenue'] = df['weekly_revenue'] * 52
df['yearly_profit'] = df['weekly_profit'] * 52

df

,name,cuisine,menu_text,veg_options,halal_options,street_food_style,dessert_focus,business_model,students,families,nightlife,tourists,locals,params,weekly_revenue,net_margin,weekly_profit,yearly_revenue,yearly_profit
0,MyLahore Manchester,British Asian,"Curries, kebabs, wraps, desserts, vegetarian o...",True,True,False,True,casual_takeaway,0.40,0.10,0.30,0.05,0.15,"RevenueParams(weekly_customers=1200, avg_spend...",14400,0.17,2448.0,748800,127296.0
1,Ziya Asian Grill,Modern Indian,"Indian starters, biryanis, grills, vegetarian ...",True,True,False,False,full_service,0.15,0.25,0.15,0.20,0.25,"RevenueParams(weekly_customers=700, avg_spend=...",17500,0.10,1750.0,910000,91000.0
2,Mughli Charcoal Pit,Indian/Asian,"Charcoal grilled meats, curries, naan breads",False,True,False,False,casual_takeaway,0.40,0.10,0.30,0.05,0.15,"RevenueParams(weekly_customers=1200, avg_spend...",14400,0.17,2448.0,748800,127296.0
3,Beirut Lebanese Restaurant,Lebanese,"Mezze, hummus, grilled lamb, vegetarian",True,True,False,False,full_service,0.15,0.25,0.15,0.20,0.25,"RevenueParams(weekly_customers=700, avg_spend=...",17500,0.10,1750.0,910000,91000.0
4,Walnut Persian Restaurant,Persian,"Persian rice, kebabs, stews, desserts",False,True,False,True,full_service,0.15,0.25,0.15,0.20,0.25,"RevenueParams(weekly_customers=700, avg_spend=...",17500,0.10,1750.0,910000,91000.0
5,Sanam Sweet House & Restaurant,Indian/Pakistani,"Indian sweets, savoury snacks, biryani, family...",False,True,False,False,dessert_cafe,0.30,0.30,0.10,0.15,0.15,"RevenueParams(weekly_customers=900, avg_spend=...",8100,0.17,1377.0,421200,71604.0
6,Chit 'n' Chaat,Indian Streetfood,"Indian street food, dosas, chaat, vegan options",True,True,True,False,casual_takeaway,0.40,0.10,0.30,0.05,0.15,"RevenueParams(weekly_customers=1200, avg_spend...",14400,0.17,2448.0,748800,127296.0

In [9]:
df.sort_values(by='yearly_profit', ascending=False)

,name,cuisine,menu_text,veg_options,halal_options,street_food_style,dessert_focus,business_model,students,families,nightlife,tourists,locals,params,weekly_revenue,net_margin,weekly_profit,yearly_revenue,yearly_profit
0,MyLahore Manchester,British Asian,"Curries, kebabs, wraps, desserts, vegetarian o...",True,True,False,True,casual_takeaway,0.40,0.10,0.30,0.05,0.15,"RevenueParams(weekly_customers=1200, avg_spend...",14400,0.17,2448.0,748800,127296.0
2,Mughli Charcoal Pit,Indian/Asian,"Charcoal grilled meats, curries, naan breads",False,True,False,False,casual_takeaway,0.40,0.10,0.30,0.05,0.15,"RevenueParams(weekly_customers=1200, avg_spend...",14400,0.17,2448.0,748800,127296.0
6,Chit 'n' Chaat,Indian Streetfood,"Indian street food, dosas, chaat, vegan options",True,True,True,False,casual_takeaway,0.40,0.10,0.30,0.05,0.15,"RevenueParams(weekly_customers=1200, avg_spend...",14400,0.17,2448.0,748800,127296.0
1,Ziya Asian Grill,Modern Indian,"Indian starters, biryanis, grills, vegetarian ...",True,True,False,False,full_service,0.15,0.25,0.15,0.20,0.25,"RevenueParams(weekly_customers=700, avg_spend=...",17500,0.10,1750.0,910000,91000.0
3,Beirut Lebanese Restaurant,Lebanese,"Mezze, hummus, grilled lamb, vegetarian",True,True,False,False,full_service,0.15,0.25,0.15,0.20,0.25,"RevenueParams(weekly_customers=700, avg_spend=...",17500,0.10,1750.0,910000,91000.0
4,Walnut Persian Restaurant,Persian,"Persian rice, kebabs, stews, desserts",False,True,False,True,full_service,0.15,0.25,0.15,0.20,0.25,"RevenueParams(weekly_customers=700, avg_spend=...",17500,0.10,1750.0,910000,91000.0
5,Sanam Sweet House & Restaurant,Indian/Pakistani,"Indian sweets, savoury snacks, biryani, family...",False,True,False,False,dessert_cafe,0.30,0.30,0.10,0.15,0.15,"RevenueParams(weekly_customers=900, avg_spend=...",8100,0.17,1377.0,421200,71604.0

In [10]:
df.to_csv("rusholme_restaurants_comparison.csv", index=False)
df.to_excel("rusholme_restaurants_comparison.xlsx", index=False)