In [1]:
import pandas as pd

# Restaurant dataset schema
restaurants = [
    {
        "name": "",
        "cuisine": "Indian / South Asian",
        "menu_type": ["Curries", "Grills", "Tandoori"],
        "avg_price": 15,
        "rating": 4.7,
        "reviews": 17990,
        "seating_capacity": 70,
        "open_hours": 12,  # avg hours per day
        "target_customers": ["Students","Families","Tourists"],
    },
    {
        "name": "",
        "cuisine": "Indian / Street Food",
        "menu_type": ["Street Food","Curries","Grill"],
        "avg_price": 25,
        "rating": 4.6,
        "reviews": 3075,
        "seating_capacity": 50,
        "open_hours": 10,
        "target_customers": ["Foodies","Locals","Students"],
    },
    {
        "name": "",
        "cuisine": "Modern Indian",
        "menu_type": ["Small Plates","Curries"],
        "avg_price": 25,
        "rating": 4.8,
        "reviews": 930,
        "seating_capacity": 45,
        "open_hours": 10,
        "target_customers": ["Young Professionals","Couples"],
    },
    {
        "name": "",
        "cuisine": "Indian / Street Food",
        "menu_type": ["Chaats","Dosas","Curries"],
        "avg_price": 15,
        "rating": 4.4,
        "reviews": 1374,
        "seating_capacity": 30,
        "open_hours": 11,
        "target_customers": ["Vegetarian","Students","Locals"],
    },
    {
        "name": "",
        "cuisine": "Indian / Asian",
        "menu_type": ["Curries","Biryani","Grill"],
        "avg_price": 25,
        "rating": 4.2,
        "reviews": 1838,
        "seating_capacity": 60,
        "open_hours": 8,
        "target_customers": ["Families","Tourists"],
    },
    {
        "name": "",
        "cuisine": "Indian / Pakistani",
        "menu_type": ["Curries","Desserts"],
        "avg_price": 20,
        "rating": 4.0,
        "reviews": 2567,
        "seating_capacity": 80,
        "open_hours": 14,
        "target_customers": ["Families","Locals","Groups"],
    },
    {
        "name": "",
        "cuisine": "Indian / Pakistani",
        "menu_type": ["Curries","Biryani"],
        "avg_price": 18,
        "rating": 4.3,
        "reviews": 1247,
        "seating_capacity": 50,
        "open_hours": 13,
        "target_customers": ["Late Night","Students","Locals"],
    },
    {
        "name": "",
        "cuisine": "Grill / South Asian",
        "menu_type": ["Grill","Curries","Wraps"],
        "avg_price": 18,
        "rating": 4.2,
        "reviews": 1909,
        "seating_capacity": 60,
        "open_hours": 14,
        "target_customers": ["Local Diners","Tourists"],
    },
    # add other restaurants if needed...
]

df = pd.DataFrame(restaurants)
df.head()

,name,cuisine,menu_type,avg_price,rating,reviews,seating_capacity,open_hours,target_customers
0,,Indian / South Asian,"[Curries, Grills, Tandoori]",15,4.7,17990,70,12,"[Students, Families, Tourists]"
1,,Indian / Street Food,"[Street Food, Curries, Grill]",25,4.6,3075,50,10,"[Foodies, Locals, Students]"
2,,Modern Indian,"[Small Plates, Curries]",25,4.8,930,45,10,"[Young Professionals, Couples]"
3,,Indian / Street Food,"[Chaats, Dosas, Curries]",15,4.4,1374,30,11,"[Vegetarian, Students, Locals]"
4,,Indian / Asian,"[Curries, Biryani, Grill]",25,4.2,1838,60,8,"[Families, Tourists]"

In [2]:
df["appeal_score"] = df["rating"] * (df["reviews"] ** 0.5)

In [3]:
df["weekly_customers"] = df.apply(
    lambda r: r["seating_capacity"] * (r["rating"] / 5) * 7, axis=1
)

In [4]:
df["weekly_revenue"] = df["weekly_customers"] * df["avg_price"]

In [5]:
df["annual_revenue"] = df["weekly_revenue"] * 52

In [6]:
df[[
    "name", "rating", "weekly_customers", "weekly_revenue", "annual_revenue"
]].sort_values(by="annual_revenue", ascending=False)

  name  rating  weekly_customers  weekly_revenue  annual_revenue
5          4.0             448.0          8960.0        465920.0
4          4.2             352.8          8820.0        458640.0
1          4.6             322.0          8050.0        418600.0
2          4.8             302.4          7560.0        393120.0
0          4.7             460.6          6909.0        359268.0
7          4.2             352.8          6350.4        330220.8
6          4.3             301.0          5418.0        281736.0
3          4.4             184.8          2772.0        144144.0

In [7]:
# Example logic for customer mix estimation
student_weight = 1.2
tourist_weight = 1.1
family_weight = 1.0

def estimate_customer_value(targets):
    score = 0
    if "Students" in targets: score += student_weight
    if "Tourists" in targets: score += tourist_weight
    if "Families" in targets: score += family_weight
    return score

df["customer_mix_score"] = df["target_customers"].apply(estimate_customer_value)

# Adjust revenue
df["adjusted_annual_revenue"] = df["annual_revenue"] * df["customer_mix_score"]